In [0]:
spark.sql("""
    CREATE OR REPLACE TABLE payment
    USING DELTA 
    AS
    SELECT 
        CAST(_c0 AS BIGINT) AS payment_id,
        CAST(_c1 AS TIMESTAMP) AS date,
        CAST(_c2 AS FLOAT) AS amount,
        CAST(_c3 AS BIGINT) AS rider_id
    FROM delta.`/bronze/payments`
""")

spark.sql("""
    CREATE OR REPLACE TABLE station
    USING DELTA 
    AS
    SELECT 
        CAST(_c0 AS BIGINT) AS station_id,
        _c1 AS name,
        CAST(_c2 AS FLOAT) AS latitude,
        CAST(_c3 AS FLOAT) AS longitude
    FROM delta.`/bronze/stations`
""")

spark.sql("""
    CREATE OR REPLACE TABLE rider
    USING DELTA 
    AS
    SELECT 
        CAST(_c0 AS BIGINT) AS rider_id,
        _c1 AS `first`,
        _c2 AS `last`,
        _c3 AS address,
        CAST(_c4 AS TIMESTAMP) AS birthday,
        CAST(_c5 AS TIMESTAMP) AS account_start_date,
        CAST(_c6 AS TIMESTAMP) AS account_end_date,
        CASE WHEN _c7 = 'True' THEN TRUE ELSE FALSE END AS is_member
    FROM delta.`/bronze/riders`
""")

spark.sql("""
    CREATE OR REPLACE TABLE trip
    USING DELTA 
    AS
    SELECT 
        CAST(_c0 AS BIGINT) AS trip_id,
        _c1 AS rideable_type,
        CAST(_c2 AS TIMESTAMP) AS started_at,
        CAST(_c3 AS TIMESTAMP) AS ended_at,
        CAST(_c4 AS BIGINT) AS start_station_id,
        CAST(_c5 AS BIGINT) AS end_station_id,
        CAST(_c6 AS BIGINT) AS rider_id
    FROM delta.`/bronze/trips`
""")

Out[72]: DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
# spark.sql("DROP TABLE IF EXISTS payment")
# spark.sql("DROP TABLE IF EXISTS trip")
# spark.sql("DROP TABLE IF EXISTS rider")
# spark.sql("DROP TABLE IF EXISTS station")

Out[65]: DataFrame[]

In [0]:
# show all tables in the database
spark.catalog.listTables(spark.catalog.listDatabases()[0].name)
# describe one table
display(spark.sql('DESCRIBE DETAIL station'))
# display some data
spark.sql("SELECT * FROM rider LIMIT 5").show()

format,id,name,description,location,createdAt,lastModified,partitionColumns,numFiles,sizeInBytes,properties,minReaderVersion,minWriterVersion,tableFeatures,statistics
delta,f2657ad6-7cfb-4801-b81d-5ae5f9a3f035,spark_catalog.default.station,null,dbfs:/user/hive/warehouse/station,2023-08-14T12:56:29.939+0000,2023-08-14T12:56:30.000+0000,List(),1,20069,Map(),1,2,"List(appendOnly, invariants)",Map()

+-------+--------+---------+--------------------+-------------------+-------------------+-------------------+---------+
|trip_id|   first|     last|             address|           birthday| account_start_date|   account_end_date|is_member|
+-------+--------+---------+--------------------+-------------------+-------------------+-------------------+---------+
|   1000|   Diana|    Clark| 1200 Alyssa Squares|1989-02-13 00:00:00|2019-04-23 00:00:00|               null|     true|
|   1001|Jennifer|    Smith|     397 Diana Ferry|1976-08-10 00:00:00|2019-11-01 00:00:00|2020-09-01 00:00:00|     true|
|   1002|   Karen|    Smith|644 Brittany Row ...|1998-08-10 00:00:00|2022-02-04 00:00:00|               null|     true|
|   1003|   Bryan|  Roberts|996 Dickerson Tur...|1999-03-29 00:00:00|2019-08-26 00:00:00|               null|    false|
|   1004|   Jesse|Middleton|7009 Nathan Expre...|1969-04-11 00:00:00|2019-09-14 00:00:00|               null|     true|
+-------+--------+---------+--------------------+-------------------+-------------------+-------------------+---------+